/* profile */

.profile {
    font-style: normal;
    padding: 0;
    margin: 0 0 48px 0;

    &:last-child {
        margin: 0 0 76px 0;

        @media (min-width:1366px) {
            margin: 0 0 96px 0;

        }
    }

    @media (min-width:768px) {
        display: flex;
        margin: 0 0 49px 0;
    }

    @media (min-width:1366px) {
        width: 619px;
        margin: 0 0 33px 0;
    }
}

.profile_text {
    margin: 0 0 16px 0;
    padding: 16px 0 0 0;
    border-top: 1px solid rgba($color: #000, $alpha: .3);

    @media (min-width:768px) {
        order: 2;
        margin: 0;
        padding: 20px 0 0 18px;
    }

    @media (min-width: 1366px) {
        padding: 24px 0 0 32px;
    }

    h2 {
        margin: 0 0 4px 0;
        color: #000;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;

        @media (min-width:768px) {
            font-size: 18px;
        }

        @media (min-width:1366px) {
            font-weight: 500;
            font-size: 20px;
        }
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 170%;
        color: #676767;

        @media (min-width:768px) {
            font-size: 14px;
        }

        @media (min-width:768px) {
            font-size: 16px;
        }
    }
}

p.time {
    margin: 10px 0 8px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 170%;
    color: #000;

    @media (min-width:768px) {
        margin: 20px 0 8px 0;
        font-size: 14px;
    }

    @media (min-width:1366px) {
        margin: 24px 0 12px 0;
        font-size: 16px;
    }
}

.photo {
    max-width: 100%;
    //border-radius: 50% 0 0 0;

    @media (min-width:768px) {
        max-width: none;
        width: 343px;
        height: 343px;
        order: 1;
    }

    @media (min-width: 1366px) {
        width: 294px;
        height: 294px;
    }
}

.profile_text-desctop {
    @media (min-width: 1366px) {
        order: 1;
        padding: 24px 65px 0 0;
    }
}

.profile_picture-desctop {
    @media (min-width: 1366px) {
        order: 2;
    }
}