/* section */

section {
  margin: 0 auto;
  padding: 0 24px;
  width: 360px;
  text-align: left;

  @media (min-width:768px) {
    width: 768px;
    padding: 0 32px;
  }

  @media (min-width:1366px) {
    width: 1366px;
    padding: 0 48px;
  }

  .text_wrapper {
    margin: 76px 0 34px 0;


    @media (min-width:768px) {
      background: #1519FF;
      margin: 76px 0 49px 0;
    }

    @media (min-width:1366px) {
      display: inline-block;
      margin: 96px 0 49px 0;
    }
  }
}

.span {
  display: inline-block;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #F4F4F4;
  padding: 0 10px 0 0;
  background: #1519FF;

  @media (min-width:768px) {
    font-size: 45px;
    padding: 0;
    white-space: nowrap;
  }

  @media (min-width:1366px) {
    font-weight: 500;
    font-size: 72px;
  }
}

.span_later {
  @media (min-width:1366px) {
    padding: 0 5px 0 15px;
  }
}