/* section */

section {
  margin: 0 auto;
  padding: 76px 24px;
  width: 360px;
  text-align: left;

  h1 {
    line-height: 0;
  }

  span {
    padding: 0 10px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    color: #F4F4F4;
    background: #1519FF;
  }
}